fastapi
uvicorn[standard]
pydantic
pydantic-settings
streamlit
pandas
numpy
scikit-learn
sentence-transformers
faiss-cpu
plotly
folium
streamlit-folium
joblib
sqlalchemy
python-dotenv
requests
pytest
loguru
fpdf2
google-generativeai
openpyxl
pyarrow
fastparquet
httpx
